		<div class="row">
			<div class="col-lg-4 text-center">
				<h3><img class="img-responsive img-circle center-block" width="120" src="/avatar/ashley.jpg"></img></h3>
				<a href="mailto:ashley.m.peck@vanderbilt.edu">
					<span class="fa-stack">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</div>
			<div class="col-lg-8">
				<h3>Ashley Peck</h3>
				<h4><small> Raspberry&nbspPi&nbspDeveloper</small></h4>
				<p>Ashley is a junior at Vanderbilt University, studying mechanical engineering.  She is highly interested in computer science and, in particular, using computer software to aid physical processes.  Ashley offers a comprehensive knowledge of the intersection between computers and mechanics. She aims to go to graduate school to extend her study of robotics.</p>
			</div>
		</div>