		<div class="row">
			<div class="col-lg-4 text-center">
				<h3><img class="img-responsive img-circle center-block" width="120" src="/avatar/jianing.jpg"></img></h3>
				<a href="mailto:jianing.liu@vanderbilt.edu">
					<span class="fa-stack">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</div>
			<div class="col-lg-8">
				<h3>Jianing Liu</h3>
				<h4><small> Web & Software Developer</small></h4>
				<p>Jianing is a senior at Vanderbilt University majoring in Computer Engineering. She likes coding, and is especially interested in app design and web development. She looks for inspirations from art for her design. Meanwhile she's looking into CS graduate programs and trying to figure out what interests her most (because everything seems to).</p>
			</div>
		</div>