		<div class="row">
			<div class="col-lg-4 text-center">
				<h3><img class="img-responsive img-circle center-block" width="120" src="/avatar/marco.jpg"></img></h3>
				<a href="mailto:marco.beccani@vanderbilt.edu">
					<span class="fa-stack">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="https://www.linkedin.com/in/marcobeccani">
					<span class="fa-stack">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</div>
			<div class="col-lg-8">
				<h3>Marco Beccani<small> Hardware&nbspDeveloper</small></h3>
				<p>In publishing and graphic design, lorem ipsum is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation.</p>
			</div>
		</div>