		<div class="row">
			<div class="col-lg-4 text-center">
				<h3><img class="img-responsive img-circle center-block" width="120" src="/avatar/pietro.jpg"></img></h3>
				<a href="mailto:pietro.valdastri@vanderbilt.edu">
					<span class="fa-stack">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="https://www.linkedin.com/pub/pietro-valdastri/1/202/7aa">
					<span class="fa-stack">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</div>
			<div class="col-lg-8">
				<h3>Pietro Valdastri<small> Principal&nbspInvestigator</small></h3>
				<p>Pietro strongly believes that research in engineering must reach the end user to have an impact on society. He also has first-hand experience in start-up business creation. In 2009, he launched <a href="http://www.winmedical.com">Winmedical srl</a>, a med-tech company proposing a patented wearable modular system for continuous monitoring of physiological parameters. The company has 25 employees and is negotiating a potential acquisition with one of the worldwide leaders in medical device manufacturing.</p>
			</div>
		</div>