		<div class="row">
			<div class="col-lg-4 text-center">
				<h3><img class="img-responsive img-circle center-block" width="120" src="/avatar/yasmin.jpg"></img></h3>
				<a href="mailto:yasmin.alvarado-rayo@vanderbilt.edu">
					<span class="fa-stack">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</div>
			<div class="col-lg-8">
				<h3>Yasmin Alvarado Rayo</h3>
				<h4><small> Raspberry&nbspPi&nbspDeveloper</small></h4>
				<p>Yasmin is currently enrolled as a senior in the Health Science Academy at John Overton High School. She was accepted to the School for Science and Math at Vanderbilt (SSMV), a four-year interdisciplinary and research-centered learning program, her freshman year of high school. She discovered her interest in the engineering field through the SSMV and she hopes to continue to grow her learning experience. </p>
			</div>
		</div>